
label{
    font-size: 1.25em;
}
form{
    width: fit-content;
    margin: 30px auto;
    max-width: 250px;
    white-space: nowrap;
}
form input[type=submit]{
    margin: 10px calc(50% - 10px);
}
#search-box1{
    /*display: block;*/
    margin: auto;
}
#search-box2{
    width: 100%;
}
#no-words{
    text-align: center;
}


/*h2{*/
/*    font-style: normal;*/
/*    font-weight: 600;*/
/*    color: #333;*/
/*}*/