main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#black-bg{
    width: 100%;
    height: 100%;
    background-color: #00000091;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#outer-def{
    display: none;
    position: fixed;
    top: 30px;
    left: 50%;
    width: 400px;
    height: 300px;
    z-index: 10;
}

#inner-def{
    position: absolute;
    right: 50%;
    width: 400px;
    background: white;
    border-radius: 5px;
    border: solid 1px #dadce0;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
}

#definition{
    font-size: 18px;
}

.wordbox {
    text-align: center;
    color: #333;
    font-weight: 600;
    cursor: pointer;
    border: solid #c9c9c9 1px;
    border-radius: 3px;
    height: 40px;
    background: #e4e4e4;
    margin: 10px 30px;
}
.wordbox p{
    margin: 9px;
}

input[type=submit]{
    font-size: 14px;
}