html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
h1{
    color: white;
    text-align: center;
}
h2{
    text-align: center;
}
a{
    text-decoration: unset;
}
table{
    border-collapse: collapse;
}
td{
    padding: 0;
}
#content{
    background: white;
}
.left, .right{
    width: 20vw;
}
.middle{
    width: 60vw;
    background: white;
}
.top{
    height: 80px;
    background: #31393f;
}
.bottom{
    height: calc(100vh - 80px);
    background: #e4e4e4;
}
.middle.bottom{
    display: block;
}