<div class="listing ml-4 mb-4">
    <a href="{{ url_for('listing', id=listing.id) }}">
        <div class="price p-1">${{ listing.price }}</div>
        <div class="container-fluid image-container">
            <div>
                <img height="140" width="auto" src="../static/listing_images/{{ images[listing.id].src }}"/>
            </div>
        </div>
    </a>
    <div class="container-fluid">
        <p>{{ listing.condition }}</p>
        <p>{{ listing.title }}</p>
        {% if user_info %}
            <div class="user-info pt-1 pb-1">
                <img height="40" width="auto" src="{{ users[listing.id].avatar(40) }}"/>
                <a href="{{ url_for('user', id=users[listing.id].id) }}"><p>{{ users[listing.id].name }}</p></a>
            </div>
        {% endif %}
    </div>
</div>