<div class="listing ml-4 mb-4">
    <a href="{{ url_for('listing', id=listing.id) }}">
        <div class="price">${{ listing.price }}</div>
        <div class="container-fluid image-container">
            <img height="140" width="auto" src="https://static.swappa.com/media/listing/LRZM20784/TmZKSCMs.jpg"/>
        </div>
        <div class="container-fluid">
            <p>{{ listing.condition }}</p>
            <p>{{ listing.title }}</p>
        </div>
<!--    <tr>-->
<!--        <td width="70px">-->
<!--            <a href="{{ url_for('user', id=listing.author.id) }}">-->
<!--                <img class="profile-image" src="{{ listing.author.avatar(70) }}" />-->
<!--            </a>-->
<!--        </td>-->
<!--        <td>-->
<!--            <a href="{{ url_for('user', id=listing.author.id) }}">-->
<!--                user: {{ listing.author.name }}-->
<!--            </a>-->
<!--            said {{ moment(listing.timestamp).fromNow() }}:-->
<!--            <br>-->
<!--            title: {{ listing.title }}-->
<!--            <br>-->
<!--            body: {{ listing.body }}-->
<!--        </td>-->
<!--    </tr>-->
    </a>
</div>