{% extends "base.html" %}

{% block app_content %}
    <div style="display: flex; align-items: flex-start;">
        <div class="col-8 pl-0">
            {% if listing.author == current_user %}
                <p><a href="{{ url_for('delete_listing', id=listing.id) }}">Delete listing</a></p>
            {% endif %}
            <h5 class="font-weight-bold">{{ listing.title }}</h5>
            <p class="listing-tag">{{ listing.condition }}</p>
            <p class="listing-tag">${{ listing.price }}</p>
            <img style="display: block;" height="200" width="auto" src="../static/listing_images/{{ image.src }}"/>
            <pre>{{ listing.body }}</pre>
        </div>
        <div class="col-4 listing-user pt-2">
            <table>
                <tbody>
                    <tr><td><p class="mb-1"><u>Posted by:</u></p></td></tr>
                    <tr>
                        <td>
                            <img width="60px" height="60px" class="profile-image mr-1" src="{{ user.avatar(128) }}"/>
                        </td>
                        <td>
                            <a href="{{ url_for('user', id=user.id) }}">
                                <h4>{{ user.name }}</h4>
                            </a>
                            <p>📍 {{ user.city }}, {{ user.state }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}